<%- include('partials/head') %>
</head>
<body class="bg-gradient-to-r from-blue-50 to-indigo-50 min-h-screen flex flex-col">
  <header class="w-full">
    <%- include('partials/nav') %>
  </header>
  <main class="flex-1 flex items-center justify-center">
  <div class="text-center">
    <h1 class="text-5xl font-bold text-blue-600 mb-8">Home added successfully</h1>
    
  </div>
  </main>
</body>
</html>