header{
  background-color: aqua;
}
main{
  background-color: aquamarine;
}
#section_1{
  background-color: bisque;
}
#section_2{
  background-color: blanchedalmond;
}
footer{
  background-color: burlywood;
}
#span_1{
  font-family: Arial, Helvetica, sans-serif;
}