header{
  background-color: aqua;
}
main{
  background-color: bisque;
}
#section_1{
  background-color: aquamarine;
}
#section_2{
  background-color: blueviolet;
}
footer{
  background-color: brown;
}