  <header class="w-full py-6">
    <nav class="max-w-6xl mx-auto flex items-center  px-4">
      <a href="/host/add-home" class="inline-block bg-blue-600 text-white px-8 py-3 rounded-lg font-semibold hover:bg-blue-700 transition duration-200 shadow-lg ml-4">Add Home</a>

          <a href="/" class="inline-block bg-blue-600 text-white px-8 py-3 rounded-lg font-semibold hover:bg-blue-700 transition duration-200 shadow-lg ml-4">Go to home</a>
          
    </nav>
  </header>